.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  width: 300px;
  height: 100vh;
  border: 1px solid green;
  background: grey;
  position: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 320px;
}

.heading {
  width: 100%;
  min-height: 50px;
}

.sticky-container {
  position: relative;
  border: 1px solid green;
  min-width: 900px;
  flex-grow: 1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sticky-note {
  width: 300px;
  height: 330px;
  -webkit-box-shadow: -6px -9px 49px -18px rgba(0,0,0,0.53);
  -moz-box-shadow: -6px -9px 49px -18px rgba(0,0,0,0.53);
  box-shadow: -9px -6px 21px -15px rgba(0,0,0,0.53);
  background: #FFF2AB;
  margin: 0 -50px;
}

.sticky-note .header {
  background:  #FFEB81;
  width: 100%;
  height: 60px;
}